joblib
scikit-learn
pyvis
stvis
lightgbm
pycaret
unidecode
plotly
streamlit-chat
matplotlib
seaborn
langchain-experimental
langchain-openai
tabulate
bs4
schedule
streamlit_autorefresh
pysqlite3-binary
chromadb
langchain-community
pydantic-settings
openpyxl
osmnx
networkx
streamlit_folium
folium
st-pages
scipy
